body{
  background-image:url(images/background.png) ;
  width: 98vw;
  height: 100vh;
  background-size: cover;
}
@font-face {
  font-family: Nashville;
  src: url(fonts/Nashville-z8w0.ttf);
}
@font-face {
  font-family: Typewriter;
  src: url(fonts/atwriter.ttf);
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: #CEB27B; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #E1251A; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.nav{
  display: flex;
  font-family: "Typewriter";
  justify-content: right;
  font-size: 1.4vw;
  color: #CEB27B;
}
.nav a{
  text-decoration: none;
}
.nav a:visited{
  color: #CEB27B;
  text-decoration: none;
}

.container-top{
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.learning-outcomes{
  max-height: 700px;
  overflow-y: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #CEB27B;
  margin-top: 150px;
  width: 30vw;
  height: 30vw;
  margin-left: 5vw;
}
.learning-outcomes h1{
  font-family: "Nashville";
  letter-spacing: 1px;
  font-size: 5vw;
  text-align: center;
  color:#CEB27B ;
 
}
.learning-outcomes p{
  font-family: "Typewriter";
  letter-spacing: 1px;
  font-size: .8vw;
  text-align: center;
  color:#811510 ;
  margin-top: -30px;
 
}
.project-link{
  text-decoration: none;
}
.project-item {
 
  padding-top: 20px;

  color: #CEB27B;
  font-family: "Typewriter";
  background-color: #E1251A;
  font-size: 1.8vw;
  text-align: center;
  cursor: pointer;
  transition: transform 2s, font-size 0.4s;
  position: relative; /* Ensure the arrow is positioned relative to the item */
}
.project-item a{
  text-decoration: none;
  color: #CEB27B;
}
.project-item a:visited{
  text-decoration: none;
  color: #CEB27B;
}
.project-itemselec{
  text-align: center;
  text-decoration:underline;
  color: #CEB27B;
  font-family: "Typewriter";
  font-size: 2.4vw;
  padding-bottom: 10px;
  padding-top: 10px;
}


.project-item:hover {
  transform: scale(1.2);
  font-size: 1.8vw;
}

.arrow {
  display: none;
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.project-item:hover .arrow {
  display: block;
}


.project-infotitle{
  top:50px;
}

.Project-info p{
  text-align: center;
  color: #CEB27B;
  font-family: "Nashville";
  font-size: 5vw;
  margin-bottom: 100px;
}
.project-infobox h2 {
position: absolute;
margin-left: 50px;
width: 50vw;
font-family: "Typewriter";
font-size: 2.5vw;
text-align: left;
padding: 20px;
color: #CEB27B;
}
.project-infobox2 h2 {
  position: absolute;
  width: 50vw;
  font-family: "Typewriter";
  font-size: 2.5vw;
  text-align: left;
  color: #CEB27B;
  }

.project-infobox{ 
  text-align: center;
  max-height: fit-content;

}
.project-infobox{ 
  text-align: center;
  

}


.container-content {
  font-family: "Typewriter";
  display: flex;
  padding-left: 10vw;
  margin-top: 30vw;
  position: relative;
  padding-bottom: 10vw;
  
}
.container-content2 {
  font-family: "Typewriter";
  display: flex;
  padding-left: 10vw;
  margin-top: 10vw;
  position: relative;
  
}

.left {
  flex: 1;
  margin-left: 5vw;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* Make sure it starts at the top */
 
}
.left h1{
  font-size: 2.5vw;
}
.left p{
  font-size: 1.4vw;
  width: 35vw;
}

.right {
  flex:2;
  max-width: 70vw; /* Adjusted width to accommodate remaining space */
  margin-left: 10vw;
  top: 0;

}
#ps li,p{
  font-size: 1.4vw;
  

}
#ps h1{
  font-size: 2vw;
}

#ps-right h1{
  font-size: 2vw;
}
#ps-right li,p{
  font-size: 1.4vw;
  
}
#ps-right{
  margin-top: 7vw;
  background-color: #CEB27B;
}
.right p{
  font-size: 1.4vw;
  width: 20vw;
 
}
.left3{
  flex: 1;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* Make sure it starts at the top */
  background-color: #CEB27B;
  
 
}
.left3 p{
  font-size: 1.4vw;
  
}
.left3 h1{
  font-size: 2.5vw;
}

.right3{
  flex:2;
  max-width: 70vw; /* Adjusted width to accommodate remaining space */
  margin-left: 15vw;
  top: 0;
  text-align: center;


}


.image-container {
  margin-top: 190px;
 
  
}
.image-container2{
  margin-top: 50px;
  
}

.sticky {
  position: fixed;
  top: 20px; /* Adjust this value based on your padding/margin needs */
  width: 30vw; /* Match the max-width of the left div */
  left: 10vw; /* Match the container's padding-left */
}

.stop {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
}

.content{
  background-color: #CEB27B;
  font-family: "Typewriter";
  display: flex;
  padding-left: 10vw;
  position: relative;
  margin-bottom: 250px;

  
}
.content a{
 font-size: 1.4vw;
  color: black;
}
.content p{
 margin-left: -40px;
}
.left2{
  flex:1;
  max-width: 70vw; /* Adjusted width to accommodate remaining space */
  
  margin-top: 50px;
  text-align: center;

}
.left2 p{
  width: 40vw;
  text-align: center;
  font-size: 1.5vw;
  
}
.right2{
  flex: 2;
  margin-left: 10vw;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* Make sure it starts at the top */
  background-color: #CEB27B;
}
.right2 p{
  width: 35vw;
  font-size: 1.4vw;
}
.right2 h1{
  font-size: 2.5vw;

}
.end{
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Typewriter";
  font-size: 3vw;
}
footer{
  font-family: "Typewriter";
  display: flex;
  justify-content: space-between;
  font-size: 2vw;
  padding: 10px;
  padding-bottom: 40px;

}
footer a{
  color: black;
}
.scroll-to-top{
  cursor: pointer; /* Changes cursor to pointer */
 
}
.scroll-to-top:hover {
  color: #E1251A;
}

#nathalie-silverentand{
  width: 62vw;
}
#moodboardimg{
  width: 20vw;
  
}
.project-infotitle{
  margin-top: 40px;
}
#group-mm{

margin-top: 10px;
display: flex;
align-items: flex-start;
font-family: "Typewriter";

}
#moodboard{
margin-top: 10vw;
display: flex;
align-items: flex-start;
font-family: "Typewriter";

}
#leftgroup{
  background-color: #CEB27B;
  margin-left: 10vw;
  
}
#leftgroup h1{
  font-size: 2.5vw;
}
#leftgroup p{
  font-size: 1.5vw;
  width: 40vw;
}
#groupmmimg{
  display: flex;
 flex-direction: column;
}
#psimg{
  width: 20vw;
}
#futureimg{
  width: 45vw;
}
#groupmmimg a{
  font-size: 1.4vw;
  color: black;
  padding: 20px;

}
.last-container{
  font-family: "Typewriter";
  width: 30vw;
  margin-left: 10vw;
  margin: 0 auto;
  margin-top: 150px;
  background-color: #CEB27B;
}
.last-container h1{
  text-align: center;
  font-size: 2.5vw;
}
.last-container p{
  font-size: 1.4vw;
  text-align: center;
}
#IMPimg{
  width: 35vw;
}
#image-container3{
  width: 40vw;
 
}
#designborder2{
  width: 40vw;
  border-style: solid;
  border-color: black;
}
#octocookedimg{
  width: 30vw;
}
#image-martijn{
  width: 30vw;
  height: 60vw;
  padding-bottom: 20px;
}
.image-container3{
  background-color: #CEB27B;
}
#explorebredavideo{
  width: 40vw;
}
#posterimg{
  width: 40vw;

}
#myposters{
  width: 30vw;
}
#quack{
  width: 40vw;
}
#wheregeese{
  width: 40vw;
}
#scavengerhuntimg{
  width: 30vw;
}
#gengarimg{
  width: 20vw;
}
#project-img{
  width: 50vw;
}
#feedback{
  text-align: center;
  font-family: "Typewriter";
  background-color: #CEB27B;
  margin-top: 10vw;
}
#feedback h1{
  font-size: 2.5vw;
}
#feedback p{
  margin: 0 auto;
 
  width: 20vw;
}
#feedbackimg{
  width: 50vw;
}
#firstdesignimg{
  width: 32vw;
}
@media screen and (max-width: 2560px) {
 .container-top{
  top: 5vw;
 }
 .container-content{
  margin-top: 35vw;
 }
 .end{
  padding-bottom: 5vw;
 }
}
@media screen and (max-width: 1024px) {
  .content{
    margin-bottom: 0px;
  }
 }
 @media screen and (max-width: 768px) {
  .content{
    margin-bottom: 0px;
  }
  .container-top{
    top: 0px;

    
  }
  .container-content{
    margin-top: 15vw;
  }

  .last-container{
    margin-top: 10vw;
  }
 }
 @media screen and (max-width: 426px) {
  body{
    background-repeat: no-repeat;
  }
  .learning-outcomes{
    margin-top: 10vw;
  }
  .project-infobox h2{
    margin-left: 0px;
  }
  .container-top{
    top: 0vw;
  }
  .project-item{
    padding-top: 10px;
  }
  .content{
    margin-bottom: 15vw;
  }
  .content p{
    margin-left: 0px;
  }
 
  .container-content{
    margin-top: 25vw;
  }
  .project-infotitle{
    margin-top: 20px;
  }
 }
 @media screen and (max-width: 321px) {
  #group-mm{
    display: block
  }
  
  .project-infotitle{
    margin-top: 0px;
  }

 }
 