body{
  background-image:url(images/background.png) ;
  width: 98vw;
  height: 100vh;
  background-size: cover;
}
@font-face {
  font-family: Nashville;
  src: url(fonts/Nashville-z8w0.ttf);
}
@font-face {
  font-family: Typewriter;
  src: url(fonts/atwriter.ttf);
}
.container-top{
  position: relative;
  top: 140px;
  display: flex;
  justify-content: space-evenly;
}
.learning-outcomes{
  border-style: solid;
  border-width: 2px;
  border-color: #CEB27B;
  margin-top: 90px;
  width: 30vw;
  height: 30vw;
}
.learning-outcomes h1{
  font-family: "Nashville";
  letter-spacing: 1px;
  font-size: 5vw;
  text-align: center;
  color:#CEB27B ;
}
.learning-outcomes p{
  font-family: "Nashville";
  font-size: 2vw;
  letter-spacing: 1px;
  text-align: center;
  color: #CEB27B;
}
.project-infobox img{
  height: auto;
  width: 40vw;
}
.Project-info p{
  text-align: center;
  color: #CEB27B;
  font-family: "Nashville";
  font-size: 5vw;
  margin-bottom: 100px;
}
.project-infobox h2 {
position: absolute;
margin-top: 60px;
margin-left: 60px;
font-family: "Typewriter";
font-size: 1.2vw;
width: 30vw;
text-align: left;
}
.project-infobox h3{
  font-family: "Typewriter";
  text-align: center;
  margin-top: -20px;
  font-size: 1.4vw;
}
.project-infobox { 
max-height: fit-content;
margin-top: -15vh;
}

.container-content {
  font-family: "Typewriter";
  display: flex;
  padding-left: 10vw;
  margin-top: 500px;
  position: relative;
  
}

.left {
  flex: 1;
  margin-left: 5vw;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* Make sure it starts at the top */
 
}
.left h1{
  font-size: 2.5vw;
}
.left p{
  font-size: 1.2vw;
  width: 30vw;
}

.right {
  flex:2;
  max-width: 70vw; /* Adjusted width to accommodate remaining space */
  margin-left: 15vw;
  top: 0;

}

.image-container {
  margin-top: 190px;
 
  
}
.image-container2{
  margin-top: 50px;
  
}

.sticky {
  position: fixed;
  top: 20px; /* Adjust this value based on your padding/margin needs */
  width: 30vw; /* Match the max-width of the left div */
  left: 10vw; /* Match the container's padding-left */
}

.stop {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
}
.container-explenation{
  font-family: "Typewriter";
  margin-top: 65px; /* Ensure there's space between containers */
  padding: 20px;
  height: 400px; /* Example height */
  padding-left: 60px;
}
.container-explenation h1{
  padding-left: 10vw;
  font-size: 2.5;
}
.container-explenation p{
  padding-left: 10vw;
  width: 60vw;
  font-size: 1.5vw;
}
.content{
  font-family: "Typewriter";
  display: flex;
  padding-left: 10vw;
  margin-top: px;
  position: relative;
  
}
.left2{
  flex:1;
  max-width: 70vw; /* Adjusted width to accommodate remaining space */
  margin-left: vw;
  top: 0;

}
.right2{
  flex: 2;
  margin-left: 5vw;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* Make sure it starts at the top */
}

